/* --- Шрифты ---*/

@font-face {
    font-family: para;
    src: url("fonts/Parangon/Parangon530C.ttf");
}
@font-face {
    font-family: pt;
    src: url("fonts/PTSans/PTSansCaption-Regular.ttf");
}
@font-face {
    font-family: fut;
    src: url("fonts/futura/FuturaBookC.ttf");
}
@font-face {
    font-family: hel;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf");
}
@font-face {
    font-family: hel1;
    src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
    font-family: MyriadPro;
    src: url("fonts/Myriad/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: exo;
    src: url("fonts/exo/Exo2-VariableFont_wght.ttf");
}
/* --- Общие насройки --- */
*{
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 1245px;
    margin: 0 auto;
}

/* --- Шапка --- */

header {
    background-image: linear-gradient(to top, rgba(48,50,99,0.67), rgba(48,50,99,0.67)), url("image/headerup.png");
    width: 100%;
    background-size: cover;
    color: white;  
}
.zagolovok{
    font-size: 48px;
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    font-family: para;
    letter-spacing: 2px;
    padding-top: 200px;
}
.textvokne{
    font-size: 24px;
    text-align: center;
    font-family: pt;
    letter-spacing: 2px;
    padding-top: 52px;
}
.Info{
    margin-top: 54px;
    display: flex;
    gap: 58px;
    justify-content: center;
}
article {
    text-align: center;
    border: 1px solid white;
    width: 250px;
    margin-bottom: 122px;
}
.zgt {
    font-family: para;
    font-size: 48px;
    margin-top: 24px;
}
.mgt{
    font-family: pt;
    font-size: 18px;
    margin-bottom: 41px;
}

/* --- Основная часть --- */

.mneu ul{
    display: flex;
    font-family: fut;
    list-style: none;
    gap: 40px;
    margin-top: 41px;
    margin-bottom: 36px;
    margin-left: 500px;
}   
.mneu ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}
.mneu ul li a:hover{
    color: #f6ae48;
    text-decoration: none;
    font-size: 30px;
}

  
.zadneefoto {
    background-image: url("image/WE.png");
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;

}
.studia{
    border-top: 2px solid #c8c8c8;
}
.stud{
    margin-top: 174px;
    margin-bottom: 215px;
}
.zag{
    font-size: 48px;
    font-family: hel;
}
.studtext{
    font-size: 20px;
    font-family: Arial;
}
.bname{
    font-family: arial;
    font-size: 20.45px;
    font-weight: bold;
    margin-top: 10px;
}
.bigtxt{
   font-family: arial;
    font-size: 15.34px;
    margin-top: 10px;
}
.roket{
    content: url("image/rocket19.png");
}
.studioinfo{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}
.stud{
    display: flex ;
    gap: 224px;
    justify-content: center;
    align-items: center
}
.mobile{
    content: url("image/mobile209.png");
}
.serdce{
    content: url("image/lifeline5.png");
    filter: invert(50%) sepia(89%) saturate(2351%) hue-rotate(160deg) brightness(92%) contrast(101%);
}
.serdse{
    padding: 13px 24px 28px 26px;
}
.start{
    padding: 13px 24px 28px 26px;
}
.Prodvijenie{
    padding: 13px 24px 28px 26px;
}
.start:hover{
    color: white;
    background-color: #f6ae48;
    cursor: pointer;
}
.Prodvijenie:hover{
    color: white;
    background-color: #f6ae48;
    cursor: pointer;
}
.start:hover .beliy{
    filter: invert(100%) sepia(200%) saturate(100%) hue-rotate(200deg) brightness(200%) contrast(100%);
}
.Prodvijenie:hover .beliy{
    filter: invert(100%) sepia(200%) saturate(100%) hue-rotate(200deg) brightness(200%) contrast(100%);
}
.serdse:hover .beliy{
    filter: invert(0%) sepia(200%) saturate(100%) hue-rotate(200deg) brightness(200%) contrast(100%);
}
.serdse:hover{
    color: white;
    background-color: #f6ae48;
    cursor: pointer;
}
.price{
    display: flex;
    gap: 182px;
    margin-top: 24px;
    align-items: center;
}
.cena{
    color: white;
    border: 2px solid white;
    font-family: MyriadPro;
    font-size: 18px;
    padding: 9px 12px 7px 16px;
}
.strekla {
    content: url("image/arrow.png");
}
.kredoimg{
    background-image: linear-gradient(to top, rgba(48,50,99,0.67), rgba(48,50,99,0.67)), url("image/fon2.png");
    width: 100%;
    background-size: cover;
    color: white; 
}
.krefo .zagolovok{
    font-family: exo;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 72px;
}
.krefo .pozagolovok{
    font-family: hel1;
    font-size: 24px;
    text-align: center;
}
.krefo {
    padding-bottom: 160px;
}

.development .razrabotka{
    content: url("image/razrabotka.png");
    margin-top: -60px;
}
.development{
    color: white;
}
.landing{
    background-image: url("image/lp.png");
    width: 366px;
    height: 315px;
}
.website{
    background-image: url("image/wb.png");
    width: 366px;
    height: 315px;
}
.internetmagazin{
    background-image: url("image/im.png");
    width: 366px;
    height: 315px;
}
.razrab{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -270px;
}
.razrab .nazvanie{
    font-size: 50px;
    font-family: exo;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 75px 66px 0px 25px;
    margin-bottom: 20px;

}
.priceb{
    border: 1px solid aqua;
    width: 200px;
    font-size: 24.7px;
    font-family: exo;
    padding: 14px 0px 18px 0px ;
    text-align: center;
}
.strelochkab{
    content: url("image/rab.png");
    margin-left: 60px;
    height: 32px;
    margin-top: 15px;    
}
.nije{
    font-size:50px;
    font-family: exo;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 75px 60px 0px 25px;
    margin-bottom: 80px;
}
.bord{
    display: flex;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-right: 40px;
    margin-left: 30px;
}
.priceo{
    border: 1px solid #ffcb00;
    width: 200px;
    font-size: 24.7px;
    font-family: exo;
    padding: 14px 0px 18px 0px ;
    text-align: center;
}
.strelochka {
    content: url("image/Raw.png");
    margin-left: 60px;
    height: 32px;
    margin-top: 15px;   
}

.priceg{
    border: 1px solid #66bf0d;
    width: 200px;
    font-size: 24.7px;
    font-family: exo;
    padding: 14px 0px 18px 0px ;
    text-align: center
}


.gogl {
    background-image: url("image/google.png");
    width: 201px;
    height: 210px;
}
.yan {
    background-image: url("image/yandex.png");
    width: 201px;
    height: 224px;
    margin-top: 40px;
}
.partner {
    display: flex;    
    padding-top: 212px;
    gap: 230px;
    justify-content: center;
}
.partneri p{
    font-size: 24px;
    margin: 20px 0px 0px 65px;
    line-height: 51px;
    width: 550px;
    font-family: arial;
}
.zagfirst {
    background: url("image/btf.png");
    background-size: cover;
    width: 590px;
    height: 60px;
}
.zagfirst p {
    font-family: tahoma;
    font-weight: bold;    
    font-size: 36px;
    padding: 10px 100px 16px 0px;
    text-transform: uppercase;
}



.ourp {
    text-align: center;
    margin-top: 121px;
}
.oupr {
    display: flex;
    align-items: center;
    height: 120px;
    background: #303263;
}
.ppic p {
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    width: 464px;
    font-weight: bold;
    font-family: para; 
}
.fotogalereya {
    width: 1500px;
    margin: 0 auto;
}
.fotochki {
    display: flex;
    flex-wrap: wrap;
    width: 1550px;
}
.eshe {
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 24px;
    padding: 20px 14px;    
    font-weight: bold;
    font-family: para;
    color: white;
    background: #6a6b8e;
    width: 245px;
    margin: 0 auto;
}
.ppic {
    background-image: url("image/op.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.pp1 {
    background-image: url("image/pp1.png");
    width: 769px;
    height: 425px;
}
.pp2 {
    background-image: url("image/pp2.png");
    width: 739px;
    height: 425px;
}
.pp3 {
    background-image: url("image/pp3.png");
    width: 365px;
    height: 323px;
}
.pp4 {
    background-image: url("image/pp4.png");
    background-repeat: no-repeat;
    width: 349px;
    height: 300px;
    margin: 5px 22px;
}
.pp5 {
    background-image: url("image/pp5.png");
    width: 375px;
    height: 325px;
}
.pp6 {
    background-image: url("image/pp6.png");
    width: 375px;
    height: 325px;
}